<nav class="navbar navbar-expand-md bg-white border-bottom sticky-top">
    <div class="container-fluid px-4">

        <!-- Brand -->
        <a class="navbar-brand" href="/listings">
            <i class="fa-regular fa-compass"></i>
            Wanderlust
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">

            <!-- Search -->
            <div class="mx-auto">
                <form class="search-wrap" role="search" action="/listings/search" method="GET">
                    <input type="search" name="q" placeholder="Search Destinations">
                    <button class="btn-search" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Search
                    </button>
                </form>
            </div>

            <!-- Right Links -->
            <div class="navbar-nav align-items-center gap-2">
                <a class="nav-link btn-host" href="/listings/new">Airbnb your home</a>
                <% if(!currUser){ %>
                    <a class="nav-link" href="/signup">Signup</a>
                    <a class="nav-link" href="/login">Login</a>
                    <% } %>
                        <% if(currUser){ %>
                            <a class="nav-link" href="/logout">Logout</a>
                            <% } %>
            </div>

        </div>
    </div>
</nav>